body{
    background-color:#0e218ac0;
    color: #0d1117;
    font-family:"Bubbler One", Sans-serif;
}

h1{
    color: #1f2937;
    font-size: 40px;


}

.seccion{
    background-color: rgb(3, 40, 109, 0.295);

}
#perfil{
    background-color: #1552b3be;

}